@font-face {
    font-family: 'Recoleta';
    src: local('Recoleta Bold'), local('Recoleta-Bold'),
    url('/assets/fonts/Recoleta-Bold.ttf') format('truetype');
}

@keyframes direct {
    0% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(6px);
    }
}

.Raiton-Button-root:hover .Raiton-Button-rightIcon {
    animation: direct 0.6s infinite;
    animation-direction: alternate;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;
}

.sticky-header {
    position: sticky;
    top: -1px;
    left: 0;
    width: 100%;
}


